#auth-container {
  background: url("../assets/auth_background.png");
  background-size: cover;
}

.auth-card {
  width: 500px;
  padding: 24px;
}

.auth-forgot-password-row {
  padding-top: 12px;
}

.auth-extra-actions-row {
  padding-top: 12px;
}

.auth-extra-action-text {
  margin-right: 4px;
}

.auth-extra-action {
  cursor: pointer;
  font-weight: 600;
  color: #ee1515;
}