#auth-container {
  background: url("../assets/auth_background.png");
  background-size: cover;
}

.auth-card {
  width: 500px;
  padding: 24px;
}

.auth-input-row {
  padding-bottom: 12px;
}

.auth-actions-row {
  padding: 12px 0;
}

.auth-extra-actions-row {
  padding-top: 12px;
}

.auth-extra-action {
  cursor: pointer;
  font-weight: 600;
  color: #ee1515;
}