#sidebar-container {
  height: 100%;
  padding: 8px;
  background-size: cover !important;

  &.light {
    background: url("../assets/sidebar_light.png");
    background-position: right;
  }

  &.dark {
    background: url("../assets/sidebar_dark.png");
    background-position: left;
  }
}

#content-container {
  height: 100%;
  background-repeat: repeat;

  &.light {
    background: url("../assets/background_light_transparent.png");
  }

  &.dark {
    background: url("../assets/background_dark_transparent.png");
  }
}

#sidebar-buttton-row {
  padding: 12px;
}

.small-screen-content {
  height: calc(100% - 64px)
}

.main-content,
.secondary-content,
.only-content {
  padding: 12px;
}

.main-content-card,
.secondary-content-card,
.delete-dialog-card {
  width: 100%;
  padding: 16px;

  &.top-card {
    margin-bottom: 16px;
  }
}

.only-content-second-half {
  padding-top: 12px;
}

.custom-card-header {
  padding: 8px 16px;
}

.custom-card-header-text {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.custom-card-content {
  padding: 8px 16px;
  text-align: center;
  font-size: 14px;
}