#info-actions-card-container {
  position: sticky;
  padding-top: 110.5px;
}

#pokeball {
  width: 195px;
  z-index: 100;
  position: absolute;
  top: 15px;
}

#info-actions-card {
  width: 100%;
  padding: 112.5px 16px 16px 16px;
}