#title-container,
#log-button-container {
  text-align: center;
  padding: 24px 0;
}

.sidebar-item {
  padding: 16px 0;
  cursor: pointer;
  border-radius: 4px;

  &.active {
    background-color: #ee1515;
    color: #ffffff;
  }
}

.sidebar-item:hover {
  background-color: #9e9e9e4d;
}

.sidebar-item-title {
  margin-left: 8px;
}

.empty-space {
  flex-grow: 1;
}

.sidebar-log-text {
  margin-left: 8px;
}