#root {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
}

#app-wrapper {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  backface-visibility: hidden;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
}

#app-main {
  height: 100%;
  width: 100%;
  position: fixed;
  display: flex;
  -webkit-box-flex: 1;
  flex: 1 0 auto;
  max-width: 100%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

h1, h2, h3 {
  margin: 0;
}

.input-row {
  padding-bottom: 12px;
}

.action-row {
  padding: 12px 0;
}

.card-text-row {
  padding: 4px 0;
}

.website-link {
  font-size: 14px;
  text-decoration: none;
  color: #1685c5;
  font-weight: 600;
}

.vertical-divider {
  margin: 0 12px !important;
}

.horizontal-divider {
  margin: 12px 0 !important;
}